.heading{
    width: 100%;
    font-size: 23px;
    color: black;
}
body{
    background-size: cover;
    
}
.divspeed{
    float: left;
}
.divvolume{
    float: right;
}
.divspeed img{
    width: 200px;
    border-radius: 100px;
}
.divvolume img{
    width: 200px;
    border-radius: 100px;
}
.btn-warning{
    text-align: center;
    margin-left: 450px;
    font-size: 20px;
    width: 130px;
}
.note{
    white-space: pre-line;
}
canvas{
    border: 2px solid blue;
    border-radius: 30px;
    margin-top: 30px;
}
